<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login to the Ngọc Tring Coffee system</h1>

<form method="post" action="/doLogin">
    <p style="text-align: center">
        <label for="username">Username:</label>
        <input type="text" name="user" id="username">
    </p>

    <p style="text-align: center">
        <label for="password">Password:</label>
        <input type="text" name="pass" id="password">
    </p>
    <p style="text-align: center">
        <input type="submit" value="Đăng nhập">
    </p>
</form>

<footer style="text-align: center">&#169; 2025 giáo.làng</footer>

</body>
</html>