<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product detail</title>
</head>
<body>

<h1>Product in detail</h1>
<!--show 1 sản phẩm nhưng lại cho người ta gõ để chỉnh sửa-->
<!-- mình - trang này sẽ nhận object Product từ model do ai đó gửi-->

<input type="hidden" name = "id" id="productId" th:value="${p.id}">

<!-- th:value dùng để điền value có ở đâu đó vào ô nhập
     th:text là in ra màn hình
     -->
<label for="productName">Name:</label>
<input type="text" name="name" id="productName" th:value="${p.name}">
<br>
<label for="productPrice">Price:</label>
<input type="text" name="price" id="productPrice" th:value="${p.price}">

</body>
</html>